
.logo {
    width: 100px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 67px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 67px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 67px; /* Space for fixed navbar */
    }
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }


.li-avatar {
    background-color: #eeeeee;
    width: 40px;
    height: 40px;
}

.li-estimate {
    font-size: 10px;
    font-weight: bold;
    color: #555a97;
}

.li-date {
    font-size: 12px;
    color: #555a97;
    margin-left: 10px;
}

.indicator-pbi {
    background-color: #527FD7;
}

.indicator-bug {
    background-color: #D75252;
}

.indicator-chore {
    background-color: #666666;
}

.indicator-impediment {
    background-color: #D7C152;
}

.priority-critical {
    color: #fff;
    background-color: #820101;
}

.priority-high {
    color: #fff;
    background-color: #b27100;
}

.priority-medium {
    color: #fff;
    background-color: #0c6d00;
}

.priority-low {
    color: #fff;
    background-color: #002b6d;
}

.modal-body {
    max-height: 400px;
    overflow: scroll;
}
