html, body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


.frame13 {
    width: 500px;
}

.page .container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-title {
    color: #3D3D3D;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.nav-item > .app-bar-nav-link {
    text-align: center;
    color: #068597 !important;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.li-avatar {
    background-color: #eeeeee;
    width: 40px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
}


.li-estimate {
    font-size: 10px;
    font-weight: bold;
    color: #555a97;
}

.li-date {
    font-size: 12px;
    color: #555a97;
    margin-left: 10px;
}

.indicator-pbi {
    background-color: #527FD7;
}

.indicator-bug {
    background-color: #D75252;
}

.indicator-chore {
    background-color: #666666;
}

.indicator-impediment {
    background-color: #D7C152;
}

.priority-critical {
    color: #fff;
    background-color: #820101;
}

.priority-high {
    color: #fff;
    background-color: #b27100;
}

.priority-medium {
    color: #fff;
    background-color: #0c6d00;
}

.priority-low {
    color: #fff;
    background-color: #002b6d;
}

.modal-body {
    max-height: 400px;
    overflow: scroll;
}

.rps-text-area {
    width: 100%;
    height: 60px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Navbar
 */

.rps-navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

.logo {
    width: 100px;
}

/* Extracted styles from App.tsx */
.page {
    width: 100%;
}

.backlog-container {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.app-header {
    background: rgba(3.84, 86.84, 98.16, 0.06);
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.12);
    width: 100%;
}

.main-content-wrapper {
    width: 1440px;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.content-container {
    flex: 1 1 0;
    align-self: stretch;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    gap: 24px;
    display: inline-flex;
}
